# iOS / Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate
DerivedData/
*.xcodeproj/project.pbxproj
*.xcodeproj/project.xcworkspace/contents.xcworkspacedata

# Swift Package Manager
.build/
.swiftpm/

# Android / Gradle
*.iml
.gradle/
.kotlin/
**/local.properties
**/.idea/
**/build/

# Java
*.hprof

# OS
.DS_Store

# Secrets
Secrets.swift
